*{
    margin:0;
    padding:0;
}
body{
    background:linear-gradient(to left,#fcd198,#e1f694);
    color:black;
    text-align:center;
}
h1{
    font-size:50px;
}
.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1.5vmin;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    font-size:5rem;
    background-color:rgb(195, 250, 232);
    color:black;
}
#reset{
    padding:1rem;
    border:none;
    border-radius:15px;
    font-size:20px;
    background: linear-gradient(to left,rgba(255, 166, 0, 0.512),rgba(255, 0, 0, 0.468));
    font-weight:bold;
    
}
.box:hover{
    background:rgba(127, 255, 212, 0.655);
    cursor:pointer;
   
}
#reset:hover{
    background: linear-gradient(180deg,rgba(255, 166, 0, 0.512),rgba(255, 0, 0, 0.468));
    cursor: pointer;

}
.winner{
    color:green;
    font-weight:bold;
    font-size:40px;
    margin-bottom:30px;
}




